<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#addUserDataModal"
  (click)="onAddData()"
>
  Add new data set
</button>
<div
  class="modal fade"
  id="addUserDataModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addUserDataLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form (submit)="onDataSubmit()">
          <div class="form-group" [formGroup]="dataFormGroup">
            <label for="firstName">First name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
            />
            <label for="lastName">Last name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
            />
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
            <label for="telephone">Telephone</label>
            <input
              type="text"
              class="form-control"
              id="telephone"
              formControlName="telephone"
            />
            <label for="postalCode">Postal code</label>
            <input
              type="text"
              class="form-control"
              id="postalCode"
              formControlName="postalCode"
            />
            <label for="street">Street</label>
            <input
              type="text"
              class="form-control"
              id="street"
              formControlName="street"
            />
            <label for="houseNumber">House number</label>
            <input
              type="text"
              class="form-control"
              id="houseNumber"
              formControlName="houseNumber"
            />
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              formControlName="city"
            />
            <label for="taxNumber">Tax number</label>
            <input
              type="text"
              class="form-control"
              id="taxNumber"
              formControlName="taxNumber"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addUserDataModal"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#passwordModal"
>
  Change password
</button>

<div
  class="modal fade"
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form (submit)="onChangePassword()">
          <div class="form-group">
            <label for="newPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              [formControl]="newPassword"
            />
            <p *ngIf="newPassword.invalid && newPassword.touched" class="error">
              Bad password
            </p>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              [formControl]="confirmPassword"
            />
            <p
              *ngIf="
                confirmPassword.value !== newPassword.value &&
                confirmPassword.touched
              "
              class="error"
            >
              Passwords must be the same
            </p>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              newPassword.invalid || newPassword.value !== confirmPassword.value
            "
            data-toggle="modal"
            data-target="#passwordModal"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let uData of userData">
      <div class="card">
        <div class="cardButtonsContainer">
          <button
            type="button"
            class="btn btn-outline-primary cardButton"
            data-toggle="modal"
            data-target="#addUserDataModal"
            (click)="onDataEdit(uData)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger cardButton"
            (click)="onDataDelete(uData.id)"
          >
            Delete
          </button>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>ID:</span><span>{{ uData.id }}</span>
          </li>
          <li class="list-group-item">
            <span>First name:</span><span>{{ uData.firstName }}</span>
          </li>
          <li class="list-group-item">
            <span>Last name:</span><span>{{ uData.lastName }}</span>
          </li>
          <li class="list-group-item">
            <span>Email:</span><span>{{ uData.email }}</span>
          </li>
          <li class="list-group-item">
            <span>Telephone:</span><span>{{ uData.telephone }}</span>
          </li>
          <li class="list-group-item">
            <span>Postal code:</span><span>{{ uData.postalCode }}</span>
          </li>
          <li class="list-group-item">
            <span>Street:</span><span>{{ uData.street }}</span>
          </li>
          <li class="list-group-item">
            <span>House number:</span><span>{{ uData.houseNumber }}</span>
          </li>
          <li class="list-group-item">
            <span>City:</span><span>{{ uData.city }}</span>
          </li>
          <li class="list-group-item">
            <span>Tax number:</span><span>{{ uData.taxNumber }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
