<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#addActivityDataModal"
  (click)="onAddData()"
>
  Add new activity
</button>
<div
  class="modal fade"
  id="addActivityDataModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addActivityDataModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <form (submit)="onDataSubmit()">
          <div class="form-group" [formGroup]="dataFormGroup">
            <label for="codeType">Code</label>
            <input
              type="text"
              class="form-control"
              id="actType"
              formControlName="actType"
            />
            <label for="nameType">Name</label>
            <input
              type="text"
              class="form-control"
              id="actName"
              formControlName="actName"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addActivityDataModal"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let uData of activityData">
      <div class="card">
        <div class="cardButtonsContainer">
          <button
            type="button"
            class="btn btn-outline-danger cardButton"
            (click)="onDataDelete(uData.actType)"
          >
            Delete
          </button>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>Code:</span><span>{{ uData.actType }}</span>
          </li>
          <li class="list-group-item">
            <span>Name:</span><span>{{ uData.actName }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
