<nav class="navbar navbar-expand-md navbar-dark  " style="max-width: 100%; height: auto;background-color: #292a24;width: auto;">
  <a class="navbar-brand" href="#">
    <img src="../../assets/fixie-icon.png" style="width: 60px; height: 60px" class="d-inline-block align-top" alt="">
  </a>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="Info">Information</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="SignIn">Sign in</a>
      </li>
      <li class="nav-item ">
        <a class="btn default" href="SignUp">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
